<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/FormNuevo.css">
    <title>Nuevo Producto</title>
  </head>
  <body>
    <form action="../Controllers/Controlador.php" method="post" enctype="multipart/form-data">
      Select image to upload:
      <input type="file" name="ImagenProducto" id="ImagenProducto" accept="image/*">
      <button type="submit" name="NuevoProducto">Guardar</button>
    </form>
  </body>
</html>
